.red{
    color: red;
}

.green{
    color: green;
}

.blue{
    color: blue;
}

.small{
    width: 100px;
    height: 100px;
}

.large{
    width: 800px;
    height: 800px;
}

.black{
    filter:  grayscale(100%);
}

.color{
    filter: grayscale(0%);
}

.kaire{
    float: left;
}

.desine{
    float: right;
}

.atstatyti{
    
}
.apacia{
    position: absolute;
    top: 200px;
}
.nebera{
    display: none;
}