div{margin: 20px;

}

.text{
   display: block;
}

div{
    padding: 10px;
    display: none;
    
    
}



textarea{
    width: 400px;
    height: 100px;
}

#ok{margin: 20px;
}

.alert{
    display: none;
}
section{
    border: 1px solid green;
    width: 500px;
}