div{
    border: 1px solid red;
    width: 260px;
    padding: 10px;
}

container{
    display: none;
        border: 1px solid red;
    width: 400px;
    padding: 40px;
}

.text{
   display: block;
}
